In [1]:

import pandas as pd

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [5]:
column_names = file1.columns
file1.shape

(4008, 11)

In [8]:
file1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [9]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
file1['number of open complaints'] = pd.to_numeric(file1['number of open complaints'], errors='coerce')
file1['number of open complaints'] = file1['number of open complaints'].astype(float)
print(file1.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints    float64
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [ ]:
# Customer Lifetime Value should be numeric: remove the %
# Number of Open Complaints should be numeric: Understand this variable, remove the / and transform it to a numeric number

In [10]:
file1.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [44]:
#columns appear to be categorical: ST Gender Education Policy type Vehicle Class
cols = []
for colname in file1.columns:
    cols.append(colname.lower())
file1.columns = cols

column_categorical=["st", "gender", "education", "policy type", "vehicle class"]
column_numerical=["income", "monthly premium auto", "total claim amount"]
for col in column_categorical:
    unique_values = file1[col].unique()
    print(f"Unique values for column '{col}': {unique_values}")
for col in column_numerical:
    min_value = file1[col].min()
    max_value = file1[col].max()
    print(f"Range of values for column '{col}': {min_value} to {max_value}")

Unique values for column 'st': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values for column 'gender': [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values for column 'education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values for column 'policy type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values for column 'vehicle class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Range of values for column 'income': 0.0 to 99960.0
Range of values for column 'monthly premium auto': 61.0 to 35354.0
Range of values for column 'total claim amount': 0.382107 to 2893.239678

In [ ]:
# all categorical values have missing values. For st, gender, policy type and vehicle class are nominal values. while education is 
# an ordinal value. The variable gender need to be more prepared to correct typos & (M with Male) & (F with Female).

In [45]:
for col in  column_numerical:
    print(f"Summary statistics for '{col}':")
    print(file1[col].describe())

Summary statistics for 'income':
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: income, dtype: float64
Summary statistics for 'monthly premium auto':
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: monthly premium auto, dtype: float64
Summary statistics for 'total claim amount':
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total claim amount, dtype: float64

In [ ]:
#the mean of income is 39295.701214 and for monthly premium auto is 193.234360..etc.

In [46]:
for col in  column_numerical:
    mean = file1[col].mean()
    mode = file1[col].mode()
    median = file1[col].median()
    print(f"for'{col}' the mean, mode, and median are as follows: {mean}, {mode}, {median}")

for'income' the mean, mode, and median are as follows: 39295.70121381886, 0    0.0
Name: income, dtype: float64, 36234.0
for'monthly premium auto' the mean, mode, and median are as follows: 193.234360410831, 0    65.0
Name: monthly premium auto, dtype: float64, 83.0
for'total claim amount' the mean, mode, and median are as follows: 404.98690940896364, 0    321.6
Name: total claim amount, dtype: float64, 354.729129

In [47]:
for col in  column_categorical:
    print(f"Summary statistics for '{col}':")
    print(file1[col].describe())

Summary statistics for 'st':
count       1071
unique         8
top       Oregon
freq         320
Name: st, dtype: object
Summary statistics for 'gender':
count     954
unique      5
top         F
freq      457
Name: gender, dtype: object
Summary statistics for 'education':
count         1071
unique           6
top       Bachelor
freq           324
Name: education, dtype: object
Summary statistics for 'policy type':
count              1071
unique                3
top       Personal Auto
freq                780
Name: policy type, dtype: object
Summary statistics for 'vehicle class':
count              1071
unique                6
top       Four-Door Car
freq                576
Name: vehicle class, dtype: object

In [54]:
file1["st"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [70]:
file1['st'].value_counts()

st
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [72]:
# Retrieve the top 5 less common locations
top_5_less_common_locations = file1['st'].value_counts().tail(5)

print("Top 5 Less Common Customer Locations (in ascending order):")
print(top_5_less_common_locations)

Top 5 Less Common Customer Locations (in ascending order):
st
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [73]:
file1["policy type"].unique()
file1["policy type"].value_counts()

policy type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [77]:
# Retrieve the top 5 less common locations
top_1_policy = file1['policy type'].value_counts().head(1)
print("Policy type with the highest number of policies sold is:", top_1_policy)

Policy type with the highest number of policies sold is: policy type
Personal Auto    780
Name: count, dtype: int64

In [78]:
# Create two DataFrames: one for Personal Auto policies and one for Corporate Auto policies
personal_auto_file1 = file1.loc[file1['policy type'] == 'Personal Auto']
corporate_auto_file1 = file1.loc[file1['policy type'] == 'Corporate Auto']

# Calculate the average income for each policy type
average_income_personal_auto = personal_auto_file1['income'].mean()
average_income_corporate_auto = corporate_auto_file1['income'].mean()

# Print the results
print("Average income for Personal Auto policies:", average_income_personal_auto)
print("Average income for Corporate Auto policies:", average_income_corporate_auto)

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197

In [ ]:
#Yes, the average income of Personal Auto policies is lower than the Average income for Corporate Auto policies!